@{
    TempData["Title"] = "Basic Report Demo";
}

<h1>@TempData["Title"]</h1>
<a href="@Url.Action("StateArea")">State Area</a>

<a href="@Url.Action("Overprint")">套表列印</a>

<a href="@Url.Action("PrintSampleTicket")">試印現金存款單</a>

<a href="@Url.Action("PrintSampleTicket2")">試印現金存款交易明細</a>
