@{ 

}

<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown">
            MVC Lab
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Content(@"~\MVCLab\Hello")">Hello MVC</a>
            <a class="dropdown-item" href="@Url.Content(@"~\MVCLab\ReportDemo")">Report Demo</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown">
            Bootstrap 4 練習場
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Typography")">Text/Typography</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Buttons")">Buttons & Button Groups</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Grid")">Grid Lab</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Modal")">Modal Lab</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Navs")">Navs Lab</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Html5\Input")">Html5 Input</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\TodoMVC")">TodoMVC 樣板</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\HScrollMenu")">水平選單</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown">
            React Lab
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Content(@"~\ReactLab\Hello")">Hello</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReactLab\Demo")">Demo</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReactLab\HashRouter")">HashRouter</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReactLab\QRCode")">Make QR-Code</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReactLab\QRCode\ScanQrCode")">Scan QR-Code</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown">
            Redux Lab
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Content(@"~\ReduxLab\ReduxHello")">Hello</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReduxLab\Demo2")">Redux Demo</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReduxLab\AccountApp\AppForm")">帳號維護</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReduxLab\Branch")">Branch資料測試</a>
        </div>
    </li>
</ul>
